pydantic==2.7.4
google-cloud-pubsub==2.21.5
groq==0.11.0
opentelemetry-sdk==1.25.0
opentelemetry-exporter-otlp-proto-grpc==1.25.0
requests==2.32.3
qdrant-client==1.9.1
psycopg2-binary==2.9.9
numpy==1.26.4
